@import "header.css";

.selfie {
  display: block;
  margin: 0 auto;
}

.introduction {
  font-size: 1rem;

  /* can use em when font-size uses rem to keep everything in proportion */
  margin-left: 20px;
}

.main {
  text-align: center;
}

.footer {
  text-align: center;
}
